<div class="list row mt-5">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Поиск по title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Найти
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <h4 class="mb-3">Список записей</h4>
    <ul class="list-group mb-3">
      <li
        class="list-group-item"
        *ngFor="let entry of entries; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEntry(entry, i)"
      >
        {{ entry.title }}
      </li>
    </ul>
    <button class="btn btn-sm btn-danger" (click)="removeAllEntries()">
      Удалить все
    </button>
  </div>
  <div class="col-md-6">
    <app-entry-details
      [viewMode]="true"
      [currentEntry]="currentEntry"
    ></app-entry-details>
  </div>
</div>
