<div *ngIf="viewMode; else editable">
  <div *ngIf="currentEntry.id">
    <h4>Entry</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentEntry.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentEntry.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentEntry.published ? "Published" : "Pending" }}
    </div>
    <a
      class="btn btn-warning"
      routerLink="/entries/{{ currentEntry.id }}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentEntry">
    <br />
    <p>Please click on an Entry...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentEntry.id" class="edit-form">
    <h4>Entry</h4>
    <form>
      <div class="form-group mb-3">
        <label for="title" class="mb-2">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentEntry.title"
          name="title"
        />
      </div>
      <div class="form-group mb-3">
        <label for="description" class="mb-2">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentEntry.description"
          name="description"
        />
      </div>
      <div class="form-group mb-5">
        <label><strong>Status:</strong></label>
        {{ currentEntry.published ? "Published" : "Pending" }}
      </div>
    </form>
    <button
      class="btn btn-primary me-2 mb-2"
      *ngIf="currentEntry.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentEntry.published"
      class="btn btn-primary me-2 mb-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>
    <button class="btn btn-danger me-2 mb-2" (click)="deleteEntry()">
      Delete
    </button>
    <button
      type="submit"
      class="btn btn-success mb-2"
      (click)="updateEntry()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentEntry.id">
    <br />
    <p>Cannot access this Entry...</p>
  </div>
</ng-template>
