<div class=" mt-5">
  <h1 class="mb-3 text-center">Добавить запись в БД</h1>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group mb-3">
        <label for="title" class="mb-2">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="entry.title"
          name="title"
        />
      </div>
      <div class="form-group mb-3">
        <label for="description" class="mb-2">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="entry.description"
          name="description"
        />
      </div>
      <button (click)="saveEntry()" class="btn btn-success">Добавить</button>
    </div>
    <div *ngIf="submitted">
      <h4>Запись успешно добавлена!</h4>
      <button class="btn btn-success" (click)="newEntry()">Добавить</button>
    </div>
  </div>
</div>
